{% extends 'base.html' %}

{% block title %} Autores {% endblock %}

{% block content %}
<div class="card">
      <div class="card-body">
            <h4>AUTORES</h4>
            <hr>
            <a class="btn btn-success" href="{% url 'autor_add' %}">Adicionar</a>
            <table class="table table-striped">
                  <thead>
                        <tr>
                              <th>Nome</th>
                              <th>E-mail</th>
                              <th>Data Nascimento</th>
                              <th>Ações</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for autor in autores %}
                        <tr>
                              <td>{{ autor.nome }}</td>
                              <td>{{ autor.email }}</td>
                              <td>{{ autor.data_nascimento }}</td>
                              <td>
                                    <a class="btn btn-warning" href="{% url 'autor_edit' autor.id %}">Editar</a>
                                    <a class="btn btn-danger" href="{% url 'autor_delete' autor.id %}"
                                    onclick="return confirm('Tem certeza que deseja excluir esse Autor?')">Excluir</a>
                              </td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
      </div>
</div>

{% endblock %}